<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>147517120672-joj9pi15a45oijbg7l104hv17oq35mg0.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.147517120672-joj9pi15a45oijbg7l104hv17oq35mg0</string>
	<key>API_KEY</key>
	<string>AIzaSyB9hY1OU4sN4XC2TDYgr9kPWIcp5LlXFg8</string>
	<key>GCM_SENDER_ID</key>
	<string>147517120672</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.authTest</string>
	<key>PROJECT_ID</key>
	<string>auth-test-553dd</string>
	<key>STORAGE_BUCKET</key>
	<string>auth-test-553dd.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:147517120672:ios:74a79c4983e5e56978a9c5</string>
</dict>
</plist>